@import "~antd/dist/antd.min.css";
@import url("https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
body {
  background-color: #f6f2f8;
  margin: 0;
  padding: 0;
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fffdfd;
  margin-left: 200px;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.layout {
  padding: 0;
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.header-items {
  padding-left: 40px;
}

.buttons {
  display: flex;
  justify-content: right;
}
.deleteuser-icon {
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.edituser-icon {
  font-size: 20px;
  display: flex;
  margin-left: 15px;
}
.edituser-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.edit-user-buttons {
  position: absolute;
  top: 140%;
  left: 35%;
  transform: translate(-50%, -50%);
}
.ant-descriptions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.sidebar-el {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
}
.cardlist-page {
  display: flex;
  justify-content: start;
  gap: 2px;
  margin-left: 10%;
}
.monsters-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.5px;
  margin: 0 8.75%;
}
.montser-image-checkout {
  width: 100px;
}
.nft-image img {
  width: 200px;
  text-align: center;
}
.font-family-primary {
  font-family: "Bigelow Rules", cursive;
}
.font-family-secondary {
  font-family: "Aoboshi One", serif;
}
.font-family-tertiary {
  font-family: "Bigelow Rules", cursive;
}
.ant-carousel .slick-dots li button {
  position: absolute;
  top: -200px;
  left: 50%;
  z-index: 1;
}

.ant-carousel .slick-dots li.slick-active button {
  background-color: #f8f9fa;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #0d3b66;
}
.primary-font {
  font-size: 45px;
}
.ant-menu-item .ant-menu-item-selected .ant-menu-item-only-child {
  background-color: #f6f2f8;
}
.page-header {
  font-size: 25px;
  font-family: "Bigelow Rules", cursive;
}
